.main__profile{
    display: flex;
    margin-right: 98px;
    flex-direction: column;
    align-content: flex-start;
    margin-left: 56px;
}

.profile__img{
    width: 280px;
    height: 280px;
    border-radius: 50%;
    margin-bottom: 29px;
    
}

.profile__name{
    font-weight: 600;
    font-size: 26px;
    color: #000;

    margin-bottom: 12px;
}

.profile__link{
    font-weight: 400;
    font-size: 18px;
    color: #0064EB;
    text-decoration: none;
}

.profile__link:hover{
    text-decoration: underline;
}

.profile__follows{    
    margin-top: 25px;
    display: flex;
    
    flex-direction: row;
}

.profile__inner{
    font-size: 16px;
    font-weight: 400;

    margin-right: 16px;
    display: flex;
    align-items: center;
}

.profile__inner img{
    margin-right: 3px;
}

.profile__inner:last-child{
    margin-right: 0;
}

@media screen and (max-width: 1028px) { 
    .main__profile {
        margin-right: 40px;
    }
}



@media screen and (max-width: 768px) { 
    .main__profile{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: 40px;
    }
    .profile__img {
        width:200px;
        height: 200px;
    }
    .profile__follows{
        display: flex;
        flex-direction: column;
    }
    .profile__link{
        font-size: 14px;
    }
}