.main__works{
    width: 65%;
    padding-right: 56px;
   
}

.works__title{
    font-weight: 600;
    font-size: 32px;
}

.paginator{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    color: #808080;
}

.paginator li {     
    padding: 2px 6px;    
    cursor: pointer;
}

.paginator li button {
    border: none;
    background: transparent;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
span{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}


.prev{
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.next{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}



.paginator li button:disabled{
    background: rgb(151, 151, 151);
}

.active{
    background-color: rgb(65, 32, 255);
    border-radius: 3px;
    color: rgb(255, 255, 255);
}