.main{
    padding-top: 40px;
    display: flex;
    background: #F9F9F9;
    position: relative;
    padding: 40px 56px 28px;
}

@media screen and (max-width: 768px) { 
    .main {
        padding: 20px 20px 28px;
        flex-wrap: wrap;
        display: block;
        text-align: center;
    
    }
}

@media screen and (max-width: 480px) { 
    .main {
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        margin: 0 auto;
        padding: 10px 5px 28px;
    }
}
