.App {
  display: block;
  max-width: 1366px;
  height: 100%;
  margin: 0 auto;
}

input{
  border-width: 0;
  padding: 0;
}
p, a, h1, h2, h3 {
  font-family: 'Inter', sans-serif;
}

h2, p {
  margin-block-start: 0;
  margin-block-end: 0;
}